@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&family=Roboto:wght@300&family=Rubik+Wet+Paint&display=swap');

html {
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;

  height: 100%;
  width: 100%;
}

.container {
  height: 29rem;
  background-color: #435B66;
  width: 350px;
  border: 2px solid black;
  border-radius: 8px;
}

.button {

  width: 66px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 25px;
  cursor: pointer;
  background-color: #FFA41B;
}

.row {
  margin: 8px 0;
}

.row input {

  width: 15.2rem;
  font-size: 20px;
  margin: 0;
  padding: 8px 17px;
  border: 2px solid black;
  border-radius: 15px;
  background-color: #FFE4A7;
}